@use './styles/partials/mixins' as *;

.App {
    height: 100vh;
    padding: 0.5rem 4rem;
}

.ReactModal__Content {
    margin: auto;
    width: 70%;
    height: 20rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}