@use "./variables" as *;
@use "./typography" as *;

@mixin button {
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    border: none;
    font-family: 'Magilio';
    font-size: 1rem;
    font-weight: bold;
    transition: all ease 0.25s;

    // @include tablet {
    //     padding: 0.5rem 3rem;
    //     transition: all ease 0.25s;
    // }

    &:hover {
        background-color: rgb(71, 71, 71);
        transition: all ease 0.25s;
        color: rgb(255,255,255);
    }
}

@mixin input {
    padding: 0.5rem 2rem 0.3rem;
    border-radius: 5rem;
    border: 1px solid black;
    outline: none;
    font-family: 'Magilio';
    font-size: 1rem;
}