@use "../../styles/partials/mixins" as *;

// different styles dependent on difficulty selected

.cards {
    height: 90%;
    display: grid;
    padding: 1rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
    gap: 1rem;
    transition: gap 0.5s;
    justify-items: center;

    // @include tablet {
    //     grid-template-columns: repeat(4, 1fr);
    //     grid-template-rows: repeat(3, 12rem);
    //     gap: 2rem;
    //     transition: gap 0.5s;
    // }
}