@use "../../styles/partials/mixins" as *;

.cards {
    display: grid;
    padding: 2rem 0rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
}