@use '../../styles/partials/mixins' as *;

.title {
    font-size: 3rem;
    padding: 0.5rem 0rem 0.4rem;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.game-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__turns {
        margin: 0rem;
    }

    &__button {
        @include button
    }

    &__matches {
        margin: 0rem;
    }
}